<section id="conversation" class="subrecord-form-dummy conversation">
  <h3><%= I18n.t("conversation._plural") %></h3>
  <div class="subrecord-form-container">
    <div id="conversation-widget"></div>
  </div>
</section>

<script>
 new ConversationWidget({
     el: '#conversation-widget',
     handle_id: '<%= handle_id %>',
     i18n: <%== I18n.t_raw('conversation_widget').to_json %>,
 });
</script>
