<% ['digital', 'physical'].each do |request_type| %>
  <% if @file_issue_request.requested_representations.any?{|item| item['request_type'] == request_type.upcase} %>
    <section id="<%= request_type %>_quote" class="subrecord-form">
      <h3><%= I18n.t("file_issue_request._frontend.section.#{request_type}_quote") %></h3>
      <div class="subrecord-form-container">
        <div class="subrecord-form-fields">
          <%= form.label_and_textfield "#{request_type}_processing_estimate" %>
        </div>
      </div>
    </section>
  <% end %>
<% end %>