<%= setup_context :object => @file_issue_request, :title => @file_issue_request.title %>

<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "sidebar", locals: {is_readonly: true} %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= render_aspace_partial :partial => "file_issue_requests/form", locals: {is_readonly: true} %>
    </div>
  </div>
</div>
