td.editable-quote-field:hover {
  background: #9f9;
  cursor: pointer;
}

td.edited-quote-field {
  background: #cef;
}

.quote-message {
  display: inline-block;
  margin-top: 2px;
  margin-right: 20px;
  padding: 3px 8px 3px 8px;
  background-color: #fef;
  box-shadow: 0 0 3px 1px #ccc;
}

.quote-line-delete-button {
  display: none;
}

.quote-line-flagged-for-delete {
  background-color: #fcc !important;
}

.quote-line {
  height: 40px;
}
