<div id="transfer_validation_errors"
     data-title="<%= I18n.t("transfer_proposal._frontend.messages.metadata_errors_title") %>"><!--
   <div class="modal-body">
     <ul>
       {for error in errors}
         <li>${error}</li>
       {/for}
     </ul>
   </div>
   <div class="modal-footer">
      <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
   </div>
--></div>
