<div class="record-toolbar">
    <div class="btn-group btn-toolbar pull-right">
        <%= form_tag({:controller => "transfers",
                      :action => "approve"},
                     :method => "post") do %>
            <%= hidden_field_tag "proposal_id", @transfer_proposal.id %>
            <button class="btn btn-danger navbar-btn btn-default">
                <i class="fa fa-heart"></i>
                <i class="fa fa-heart"></i>
                <i class="fa fa-heart"></i>
                APPROVE PROPOSAL
                <i class="fa fa-heart"></i>
                <i class="fa fa-heart"></i>
                <i class="fa fa-heart"></i>
            </button>
        <% end %>
    </div>
    <div class="clearfix"></div>
</div>
