<div class="record-toolbar">
    <div class="btn-group btn-toolbar pull-right">
        <button class="btn btn-danger btn-lg"><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i> <b>APPROVE PROPOSAL</b> <i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></button>
    </div>
    <div class="clearfix"></div>
</div>
